*.test
.DS_Store
.env
.idea
.pnpm-store
adb
adb-config
adb.db
frontend/dist
frontend/node_modules
frontend-v2/node_modules
frontend-v2/.next
frontend-v2/out
npm-debug.log
server/src/__debug*
node_modules/
