/* global styles */
body {
        padding-top: 70px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: medium;
        background-color: #575756;
}

@media (max-width: 580px) {
    body {
         padding-top: 30px;
    }
}

a {
        color: lightgrey;
        text-decoration: none;
        font-weight: bold;
}
a:hover {
        color: white;
}
a.edit-link {
        color: black;
        text-decoration: none;
}
a.edit-link:hover {
        color: lightgrey;
        text-decoration: none;
}
.hide {
    display:none;
}

/* body wrappers */
.body-wrapper {
        max-width: 430px;
        background-color: white;
        padding: 25px 40px 25px 40px; 
        margin: 0 auto;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.body-wrapper-wide {
        max-width: 900px;
        background-color: white;
        padding: 25px 40px 25px 40px; 
        margin: 0 auto;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/* title */
.title {
    margin-left: -3px;
}
.title h1 {
    font-weight: bold;
}

/* event_new */
#attendee-rows {
        width: 100%;
}
.event-new-content input {
        width: 100%;
        margin-bottom: 2px;
}
.event-new-content select {
        width: 100%;
}

/* event_list */
.event-list-content {
        min-width: 640px;
}
.attendee-list {
    padding-left: 15px;
    list-style-position: outside;
}
.filter-margin {
    margin-right: 20px;
    margin-bottom: 5px;
}

/* activist_list */
.activist-list-content {
    min-width: 700px;
}


/* adb table */
.adb-table {
    width: 100%;
}
.adb-table th {
    font-weight: bold;
}
.adb-table td {
    font-weight: normal;
}
.adb-table tr {
    background-color: white;
}
.adb-table th {
    padding-bottom: 10px;
}
.adb-table td {
    padding-bottom: 10px;
}

/* leaderboard */
.leaderboard-table td,
.leaderboard-table th {
    text-align:left;
}
#right,
.leaderboard-table td + td + td,
.leaderboard-table th + th + th {
    text-align:right;
}

