body {
  padding-top: 70px;
}

body {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: medium;       
        background-color: #575756;
}

a {
        color: lightgrey;
        text-decoration: none;
        font-weight: bold;
}

a:hover {
        color: white;
}

a.edit-link:hover {
        color: black;
        text-decoration: none;
}


#bodyWrapper {
        max-width: 430px;
        background-color: white;
        padding: 25px 40px 25px 40px; 
        margin: 0 auto;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#bodyWrapperWide {
        max-width: 900px;
        background-color: white;
        padding: 25px 40px 25px 40px; 
        margin: 0 auto;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#attendee-rows {
        width: 100%;
}

table {
    width: 100%;
}

th {
    font-weight: bold;
    text-align: left;
}

td {
    font-weight: normal;
}

input {
        width: 100%;
        margin-bottom: 2px;
}

select {
        width: 100%;
}

h1 {
    font-weight: bold;
}

#title {
    margin-left: -3px;
}

#event-list th {
    padding-bottom: 15px;
}

#event-list td {
    padding-bottom: 10px;
}
