<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="csrf-token" content="{{ .CsrfField }}">
    <title>DxE Discord</title>
    <link rel="icon" type="image/png"
     href="/static/img/favicon.png" />

    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{{ .StaticResourcesHash }}">
    <link rel="stylesheet" type="text/css" href="/static/external/buefy.min.css">

  </head>
  <body>

    <div class="body-wrapper content">
      <h1>{{ .PageName }}</h1>
      <div><p>{{ .Data.message }}</p></div>
      <br />
        <a class="button is-info" href="https://discord.com/login" target="_blank">
            Return to Discord
        </a>
      <br />
    </div>

  </body>
</html>
