.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
.navbar.is-white {
  background-color: #fff;
  color: #0a0a0a;
}
.navbar.is-white .navbar-brand .navbar-link,
.navbar.is-white .navbar-brand > .navbar-item {
  color: #0a0a0a;
}
.navbar.is-white .navbar-brand .navbar-link.is-active,
.navbar.is-white .navbar-brand .navbar-link:focus,
.navbar.is-white .navbar-brand .navbar-link:hover,
.navbar.is-white .navbar-brand > a.navbar-item.is-active,
.navbar.is-white .navbar-brand > a.navbar-item:focus,
.navbar.is-white .navbar-brand > a.navbar-item:hover {
  background-color: #f2f2f2;
  color: #0a0a0a;
}
.navbar.is-white .navbar-brand .navbar-link::after {
  border-color: #0a0a0a;
}
.navbar.is-white .navbar-burger {
  color: #0a0a0a;
}
@media screen and (min-width: 1024px) {
  .navbar.is-white .navbar-end .navbar-link,
  .navbar.is-white .navbar-end > .navbar-item,
  .navbar.is-white .navbar-start .navbar-link,
  .navbar.is-white .navbar-start > .navbar-item {
    color: #0a0a0a;
  }
  .navbar.is-white .navbar-end .navbar-link.is-active,
  .navbar.is-white .navbar-end .navbar-link:focus,
  .navbar.is-white .navbar-end .navbar-link:hover,
  .navbar.is-white .navbar-end > a.navbar-item.is-active,
  .navbar.is-white .navbar-end > a.navbar-item:focus,
  .navbar.is-white .navbar-end > a.navbar-item:hover,
  .navbar.is-white .navbar-start .navbar-link.is-active,
  .navbar.is-white .navbar-start .navbar-link:focus,
  .navbar.is-white .navbar-start .navbar-link:hover,
  .navbar.is-white .navbar-start > a.navbar-item.is-active,
  .navbar.is-white .navbar-start > a.navbar-item:focus,
  .navbar.is-white .navbar-start > a.navbar-item:hover {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }
  .navbar.is-white .navbar-end .navbar-link::after,
  .navbar.is-white .navbar-start .navbar-link::after {
    border-color: #0a0a0a;
  }
  .navbar.is-white .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-white .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-white .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #f2f2f2;
    color: #0a0a0a;
  }
  .navbar.is-white .navbar-dropdown a.navbar-item.is-active {
    background-color: #fff;
    color: #0a0a0a;
  }
}
.navbar.is-black {
  background-color: #0a0a0a;
  color: #fff;
}
.navbar.is-black .navbar-brand .navbar-link,
.navbar.is-black .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-black .navbar-brand .navbar-link.is-active,
.navbar.is-black .navbar-brand .navbar-link:focus,
.navbar.is-black .navbar-brand .navbar-link:hover,
.navbar.is-black .navbar-brand > a.navbar-item.is-active,
.navbar.is-black .navbar-brand > a.navbar-item:focus,
.navbar.is-black .navbar-brand > a.navbar-item:hover {
  background-color: #000;
  color: #fff;
}
.navbar.is-black .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-black .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-black .navbar-end .navbar-link,
  .navbar.is-black .navbar-end > .navbar-item,
  .navbar.is-black .navbar-start .navbar-link,
  .navbar.is-black .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-black .navbar-end .navbar-link.is-active,
  .navbar.is-black .navbar-end .navbar-link:focus,
  .navbar.is-black .navbar-end .navbar-link:hover,
  .navbar.is-black .navbar-end > a.navbar-item.is-active,
  .navbar.is-black .navbar-end > a.navbar-item:focus,
  .navbar.is-black .navbar-end > a.navbar-item:hover,
  .navbar.is-black .navbar-start .navbar-link.is-active,
  .navbar.is-black .navbar-start .navbar-link:focus,
  .navbar.is-black .navbar-start .navbar-link:hover,
  .navbar.is-black .navbar-start > a.navbar-item.is-active,
  .navbar.is-black .navbar-start > a.navbar-item:focus,
  .navbar.is-black .navbar-start > a.navbar-item:hover {
    background-color: #000;
    color: #fff;
  }
  .navbar.is-black .navbar-end .navbar-link::after,
  .navbar.is-black .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-black .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-black .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-black .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #000;
    color: #fff;
  }
  .navbar.is-black .navbar-dropdown a.navbar-item.is-active {
    background-color: #0a0a0a;
    color: #fff;
  }
}
.navbar.is-light {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-light .navbar-brand .navbar-link,
.navbar.is-light .navbar-brand > .navbar-item {
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-light .navbar-brand .navbar-link.is-active,
.navbar.is-light .navbar-brand .navbar-link:focus,
.navbar.is-light .navbar-brand .navbar-link:hover,
.navbar.is-light .navbar-brand > a.navbar-item.is-active,
.navbar.is-light .navbar-brand > a.navbar-item:focus,
.navbar.is-light .navbar-brand > a.navbar-item:hover {
  background-color: #e8e8e8;
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-light .navbar-brand .navbar-link::after {
  border-color: rgba(0, 0, 0, 0.7);
}
.navbar.is-light .navbar-burger {
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1024px) {
  .navbar.is-light .navbar-end .navbar-link,
  .navbar.is-light .navbar-end > .navbar-item,
  .navbar.is-light .navbar-start .navbar-link,
  .navbar.is-light .navbar-start > .navbar-item {
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-light .navbar-end .navbar-link.is-active,
  .navbar.is-light .navbar-end .navbar-link:focus,
  .navbar.is-light .navbar-end .navbar-link:hover,
  .navbar.is-light .navbar-end > a.navbar-item.is-active,
  .navbar.is-light .navbar-end > a.navbar-item:focus,
  .navbar.is-light .navbar-end > a.navbar-item:hover,
  .navbar.is-light .navbar-start .navbar-link.is-active,
  .navbar.is-light .navbar-start .navbar-link:focus,
  .navbar.is-light .navbar-start .navbar-link:hover,
  .navbar.is-light .navbar-start > a.navbar-item.is-active,
  .navbar.is-light .navbar-start > a.navbar-item:focus,
  .navbar.is-light .navbar-start > a.navbar-item:hover {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-light .navbar-end .navbar-link::after,
  .navbar.is-light .navbar-start .navbar-link::after {
    border-color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-light .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-light .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-light .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-light .navbar-dropdown a.navbar-item.is-active {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.7);
  }
}
.navbar.is-dark {
  background-color: #363636;
  color: #fff;
}
.navbar.is-dark .navbar-brand .navbar-link,
.navbar.is-dark .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-dark .navbar-brand .navbar-link.is-active,
.navbar.is-dark .navbar-brand .navbar-link:focus,
.navbar.is-dark .navbar-brand .navbar-link:hover,
.navbar.is-dark .navbar-brand > a.navbar-item.is-active,
.navbar.is-dark .navbar-brand > a.navbar-item:focus,
.navbar.is-dark .navbar-brand > a.navbar-item:hover {
  background-color: #292929;
  color: #fff;
}
.navbar.is-dark .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-dark .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-dark .navbar-end .navbar-link,
  .navbar.is-dark .navbar-end > .navbar-item,
  .navbar.is-dark .navbar-start .navbar-link,
  .navbar.is-dark .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-dark .navbar-end .navbar-link.is-active,
  .navbar.is-dark .navbar-end .navbar-link:focus,
  .navbar.is-dark .navbar-end .navbar-link:hover,
  .navbar.is-dark .navbar-end > a.navbar-item.is-active,
  .navbar.is-dark .navbar-end > a.navbar-item:focus,
  .navbar.is-dark .navbar-end > a.navbar-item:hover,
  .navbar.is-dark .navbar-start .navbar-link.is-active,
  .navbar.is-dark .navbar-start .navbar-link:focus,
  .navbar.is-dark .navbar-start .navbar-link:hover,
  .navbar.is-dark .navbar-start > a.navbar-item.is-active,
  .navbar.is-dark .navbar-start > a.navbar-item:focus,
  .navbar.is-dark .navbar-start > a.navbar-item:hover {
    background-color: #292929;
    color: #fff;
  }
  .navbar.is-dark .navbar-end .navbar-link::after,
  .navbar.is-dark .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-dark .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-dark .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-dark .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #292929;
    color: #fff;
  }
  .navbar.is-dark .navbar-dropdown a.navbar-item.is-active {
    background-color: #363636;
    color: #fff;
  }
}
.navbar.is-primary {
  background-color: #7957d5;
  color: #fff;
}
.navbar.is-primary .navbar-brand .navbar-link,
.navbar.is-primary .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-primary .navbar-brand .navbar-link.is-active,
.navbar.is-primary .navbar-brand .navbar-link:focus,
.navbar.is-primary .navbar-brand .navbar-link:hover,
.navbar.is-primary .navbar-brand > a.navbar-item.is-active,
.navbar.is-primary .navbar-brand > a.navbar-item:focus,
.navbar.is-primary .navbar-brand > a.navbar-item:hover {
  background-color: #6943d0;
  color: #fff;
}
.navbar.is-primary .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-primary .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-end .navbar-link,
  .navbar.is-primary .navbar-end > .navbar-item,
  .navbar.is-primary .navbar-start .navbar-link,
  .navbar.is-primary .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-primary .navbar-end .navbar-link.is-active,
  .navbar.is-primary .navbar-end .navbar-link:focus,
  .navbar.is-primary .navbar-end .navbar-link:hover,
  .navbar.is-primary .navbar-end > a.navbar-item.is-active,
  .navbar.is-primary .navbar-end > a.navbar-item:focus,
  .navbar.is-primary .navbar-end > a.navbar-item:hover,
  .navbar.is-primary .navbar-start .navbar-link.is-active,
  .navbar.is-primary .navbar-start .navbar-link:focus,
  .navbar.is-primary .navbar-start .navbar-link:hover,
  .navbar.is-primary .navbar-start > a.navbar-item.is-active,
  .navbar.is-primary .navbar-start > a.navbar-item:focus,
  .navbar.is-primary .navbar-start > a.navbar-item:hover {
    background-color: #6943d0;
    color: #fff;
  }
  .navbar.is-primary .navbar-end .navbar-link::after,
  .navbar.is-primary .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #6943d0;
    color: #fff;
  }
  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: #7957d5;
    color: #fff;
  }
}
.navbar.is-link {
  background-color: #7957d5;
  color: #fff;
}
.navbar.is-link .navbar-brand .navbar-link,
.navbar.is-link .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-link .navbar-brand .navbar-link.is-active,
.navbar.is-link .navbar-brand .navbar-link:focus,
.navbar.is-link .navbar-brand .navbar-link:hover,
.navbar.is-link .navbar-brand > a.navbar-item.is-active,
.navbar.is-link .navbar-brand > a.navbar-item:focus,
.navbar.is-link .navbar-brand > a.navbar-item:hover {
  background-color: #6943d0;
  color: #fff;
}
.navbar.is-link .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-link .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-link .navbar-end .navbar-link,
  .navbar.is-link .navbar-end > .navbar-item,
  .navbar.is-link .navbar-start .navbar-link,
  .navbar.is-link .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-link .navbar-end .navbar-link.is-active,
  .navbar.is-link .navbar-end .navbar-link:focus,
  .navbar.is-link .navbar-end .navbar-link:hover,
  .navbar.is-link .navbar-end > a.navbar-item.is-active,
  .navbar.is-link .navbar-end > a.navbar-item:focus,
  .navbar.is-link .navbar-end > a.navbar-item:hover,
  .navbar.is-link .navbar-start .navbar-link.is-active,
  .navbar.is-link .navbar-start .navbar-link:focus,
  .navbar.is-link .navbar-start .navbar-link:hover,
  .navbar.is-link .navbar-start > a.navbar-item.is-active,
  .navbar.is-link .navbar-start > a.navbar-item:focus,
  .navbar.is-link .navbar-start > a.navbar-item:hover {
    background-color: #6943d0;
    color: #fff;
  }
  .navbar.is-link .navbar-end .navbar-link::after,
  .navbar.is-link .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-link .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-link .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #6943d0;
    color: #fff;
  }
  .navbar.is-link .navbar-dropdown a.navbar-item.is-active {
    background-color: #7957d5;
    color: #fff;
  }
}
.navbar.is-info {
  background-color: #167df0;
  color: #fff;
}
.navbar.is-info .navbar-brand .navbar-link,
.navbar.is-info .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-info .navbar-brand .navbar-link.is-active,
.navbar.is-info .navbar-brand .navbar-link:focus,
.navbar.is-info .navbar-brand .navbar-link:hover,
.navbar.is-info .navbar-brand > a.navbar-item.is-active,
.navbar.is-info .navbar-brand > a.navbar-item:focus,
.navbar.is-info .navbar-brand > a.navbar-item:hover {
  background-color: #0e71de;
  color: #fff;
}
.navbar.is-info .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-info .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-info .navbar-end .navbar-link,
  .navbar.is-info .navbar-end > .navbar-item,
  .navbar.is-info .navbar-start .navbar-link,
  .navbar.is-info .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-info .navbar-end .navbar-link.is-active,
  .navbar.is-info .navbar-end .navbar-link:focus,
  .navbar.is-info .navbar-end .navbar-link:hover,
  .navbar.is-info .navbar-end > a.navbar-item.is-active,
  .navbar.is-info .navbar-end > a.navbar-item:focus,
  .navbar.is-info .navbar-end > a.navbar-item:hover,
  .navbar.is-info .navbar-start .navbar-link.is-active,
  .navbar.is-info .navbar-start .navbar-link:focus,
  .navbar.is-info .navbar-start .navbar-link:hover,
  .navbar.is-info .navbar-start > a.navbar-item.is-active,
  .navbar.is-info .navbar-start > a.navbar-item:focus,
  .navbar.is-info .navbar-start > a.navbar-item:hover {
    background-color: #0e71de;
    color: #fff;
  }
  .navbar.is-info .navbar-end .navbar-link::after,
  .navbar.is-info .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-info .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-info .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-info .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #0e71de;
    color: #fff;
  }
  .navbar.is-info .navbar-dropdown a.navbar-item.is-active {
    background-color: #167df0;
    color: #fff;
  }
}
.navbar.is-success {
  background-color: #48c774;
  color: #fff;
}
.navbar.is-success .navbar-brand .navbar-link,
.navbar.is-success .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-success .navbar-brand .navbar-link.is-active,
.navbar.is-success .navbar-brand .navbar-link:focus,
.navbar.is-success .navbar-brand .navbar-link:hover,
.navbar.is-success .navbar-brand > a.navbar-item.is-active,
.navbar.is-success .navbar-brand > a.navbar-item:focus,
.navbar.is-success .navbar-brand > a.navbar-item:hover {
  background-color: #3abb67;
  color: #fff;
}
.navbar.is-success .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-success .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-success .navbar-end .navbar-link,
  .navbar.is-success .navbar-end > .navbar-item,
  .navbar.is-success .navbar-start .navbar-link,
  .navbar.is-success .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-success .navbar-end .navbar-link.is-active,
  .navbar.is-success .navbar-end .navbar-link:focus,
  .navbar.is-success .navbar-end .navbar-link:hover,
  .navbar.is-success .navbar-end > a.navbar-item.is-active,
  .navbar.is-success .navbar-end > a.navbar-item:focus,
  .navbar.is-success .navbar-end > a.navbar-item:hover,
  .navbar.is-success .navbar-start .navbar-link.is-active,
  .navbar.is-success .navbar-start .navbar-link:focus,
  .navbar.is-success .navbar-start .navbar-link:hover,
  .navbar.is-success .navbar-start > a.navbar-item.is-active,
  .navbar.is-success .navbar-start > a.navbar-item:focus,
  .navbar.is-success .navbar-start > a.navbar-item:hover {
    background-color: #3abb67;
    color: #fff;
  }
  .navbar.is-success .navbar-end .navbar-link::after,
  .navbar.is-success .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-success .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-success .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-success .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #3abb67;
    color: #fff;
  }
  .navbar.is-success .navbar-dropdown a.navbar-item.is-active {
    background-color: #48c774;
    color: #fff;
  }
}
.navbar.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-warning .navbar-brand .navbar-link,
.navbar.is-warning .navbar-brand > .navbar-item {
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-warning .navbar-brand .navbar-link.is-active,
.navbar.is-warning .navbar-brand .navbar-link:focus,
.navbar.is-warning .navbar-brand .navbar-link:hover,
.navbar.is-warning .navbar-brand > a.navbar-item.is-active,
.navbar.is-warning .navbar-brand > a.navbar-item:focus,
.navbar.is-warning .navbar-brand > a.navbar-item:hover {
  background-color: #ffd83d;
  color: rgba(0, 0, 0, 0.7);
}
.navbar.is-warning .navbar-brand .navbar-link::after {
  border-color: rgba(0, 0, 0, 0.7);
}
.navbar.is-warning .navbar-burger {
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1024px) {
  .navbar.is-warning .navbar-end .navbar-link,
  .navbar.is-warning .navbar-end > .navbar-item,
  .navbar.is-warning .navbar-start .navbar-link,
  .navbar.is-warning .navbar-start > .navbar-item {
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-warning .navbar-end .navbar-link.is-active,
  .navbar.is-warning .navbar-end .navbar-link:focus,
  .navbar.is-warning .navbar-end .navbar-link:hover,
  .navbar.is-warning .navbar-end > a.navbar-item.is-active,
  .navbar.is-warning .navbar-end > a.navbar-item:focus,
  .navbar.is-warning .navbar-end > a.navbar-item:hover,
  .navbar.is-warning .navbar-start .navbar-link.is-active,
  .navbar.is-warning .navbar-start .navbar-link:focus,
  .navbar.is-warning .navbar-start .navbar-link:hover,
  .navbar.is-warning .navbar-start > a.navbar-item.is-active,
  .navbar.is-warning .navbar-start > a.navbar-item:focus,
  .navbar.is-warning .navbar-start > a.navbar-item:hover {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-warning .navbar-end .navbar-link::after,
  .navbar.is-warning .navbar-start .navbar-link::after {
    border-color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-warning .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-warning .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-warning .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar.is-warning .navbar-dropdown a.navbar-item.is-active {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }
}
.navbar.is-danger {
  background-color: #f14668;
  color: #fff;
}
.navbar.is-danger .navbar-brand .navbar-link,
.navbar.is-danger .navbar-brand > .navbar-item {
  color: #fff;
}
.navbar.is-danger .navbar-brand .navbar-link.is-active,
.navbar.is-danger .navbar-brand .navbar-link:focus,
.navbar.is-danger .navbar-brand .navbar-link:hover,
.navbar.is-danger .navbar-brand > a.navbar-item.is-active,
.navbar.is-danger .navbar-brand > a.navbar-item:focus,
.navbar.is-danger .navbar-brand > a.navbar-item:hover {
  background-color: #ef2e55;
  color: #fff;
}
.navbar.is-danger .navbar-brand .navbar-link::after {
  border-color: #fff;
}
.navbar.is-danger .navbar-burger {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .navbar.is-danger .navbar-end .navbar-link,
  .navbar.is-danger .navbar-end > .navbar-item,
  .navbar.is-danger .navbar-start .navbar-link,
  .navbar.is-danger .navbar-start > .navbar-item {
    color: #fff;
  }
  .navbar.is-danger .navbar-end .navbar-link.is-active,
  .navbar.is-danger .navbar-end .navbar-link:focus,
  .navbar.is-danger .navbar-end .navbar-link:hover,
  .navbar.is-danger .navbar-end > a.navbar-item.is-active,
  .navbar.is-danger .navbar-end > a.navbar-item:focus,
  .navbar.is-danger .navbar-end > a.navbar-item:hover,
  .navbar.is-danger .navbar-start .navbar-link.is-active,
  .navbar.is-danger .navbar-start .navbar-link:focus,
  .navbar.is-danger .navbar-start .navbar-link:hover,
  .navbar.is-danger .navbar-start > a.navbar-item.is-active,
  .navbar.is-danger .navbar-start > a.navbar-item:focus,
  .navbar.is-danger .navbar-start > a.navbar-item:hover {
    background-color: #ef2e55;
    color: #fff;
  }
  .navbar.is-danger .navbar-end .navbar-link::after,
  .navbar.is-danger .navbar-start .navbar-link::after {
    border-color: #fff;
  }
  .navbar.is-danger .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-danger .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-danger .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #ef2e55;
    color: #fff;
  }
  .navbar.is-danger .navbar-dropdown a.navbar-item.is-active {
    background-color: #f14668;
    color: #fff;
  }
}
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}
.navbar.has-shadow {
  box-shadow: 0 2px 0 0 #f5f5f5;
}
.navbar.is-fixed-bottom,
.navbar.is-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
.navbar.is-fixed-bottom {
  bottom: 0;
}
.navbar.is-fixed-bottom.has-shadow {
  box-shadow: 0 -2px 0 0 #f5f5f5;
}
.navbar.is-fixed-top {
  top: 0;
}
.navbar-brand,
.navbar-tabs {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}
.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:hover {
  background-color: transparent;
}
.navbar-tabs {
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}
.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}
.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}
.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}
.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.navbar-menu {
  display: none;
}
.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}
.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.navbar-link,
a.navbar-item {
  cursor: pointer;
}
.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background-color: #fafafa;
  color: #7957d5;
}
.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}
.navbar-item img {
  max-height: 1.75rem;
}
.navbar-item.has-dropdown {
  padding: 0;
}
.navbar-item.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}
.navbar-item.is-tab {
  border-bottom: 1px solid transparent;
  min-height: 3.25rem;
  padding-bottom: calc(0.5rem - 1px);
}
.navbar-item.is-tab:focus,
.navbar-item.is-tab:hover {
  background-color: transparent;
  border-bottom-color: #7957d5;
}
.navbar-item.is-tab.is-active {
  background-color: transparent;
  border-bottom-color: #7957d5;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  color: #7957d5;
  padding-bottom: calc(0.5rem - 3px);
}
.navbar-content {
  flex-grow: 1;
  flex-shrink: 1;
}
.navbar-link {
  padding-right: 2.5em;
}
.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.navbar-divider {
  background-color: #f5f5f5;
  border: none;
  display: none;
  height: 2px;
  margin: 0.5rem 0;
}
@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-menu {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
  .navbar-menu.is-active {
    display: block;
  }
  .navbar.is-fixed-bottom-touch,
  .navbar.is-fixed-top-touch {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }
  .navbar.is-fixed-bottom-touch {
    bottom: 0;
  }
  .navbar.is-fixed-bottom-touch.has-shadow {
    box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
  }
  .navbar.is-fixed-top-touch {
    top: 0;
  }
  .navbar.is-fixed-top .navbar-menu,
  .navbar.is-fixed-top-touch .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }
  body.has-navbar-fixed-top-touch,
  html.has-navbar-fixed-top-touch {
    padding-top: 3.25rem;
  }
  body.has-navbar-fixed-bottom-touch,
  html.has-navbar-fixed-bottom-touch {
    padding-bottom: 3.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 3.25rem;
  }
  .navbar.is-spaced {
    padding: 1rem 2rem;
  }
  .navbar.is-spaced .navbar-end,
  .navbar.is-spaced .navbar-start {
    align-items: center;
  }
  .navbar.is-spaced .navbar-link,
  .navbar.is-spaced a.navbar-item {
    border-radius: 4px;
  }
  .navbar.is-transparent .navbar-link.is-active,
  .navbar.is-transparent .navbar-link:focus,
  .navbar.is-transparent .navbar-link:hover,
  .navbar.is-transparent a.navbar-item.is-active,
  .navbar.is-transparent a.navbar-item:focus,
  .navbar.is-transparent a.navbar-item:hover {
    background-color: transparent !important;
  }
  .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar.is-transparent
    .navbar-item.has-dropdown.is-hoverable:focus
    .navbar-link,
  .navbar.is-transparent
    .navbar-item.has-dropdown.is-hoverable:focus-within
    .navbar-link,
  .navbar.is-transparent
    .navbar-item.has-dropdown.is-hoverable:hover
    .navbar-link {
    background-color: transparent !important;
  }
  .navbar.is-transparent .navbar-dropdown a.navbar-item:focus,
  .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
  }
  .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
    background-color: #f5f5f5;
    color: #7957d5;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }
  .navbar-item.has-dropdown {
    align-items: stretch;
  }
  .navbar-item.has-dropdown-up .navbar-link::after {
    transform: rotate(135deg) translate(0.25em, -0.25em);
  }
  .navbar-item.has-dropdown-up .navbar-dropdown {
    border-bottom: 2px solid #dbdbdb;
    border-radius: 6px 6px 0 0;
    border-top: none;
    bottom: 100%;
    box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
    top: auto;
  }
  .navbar-item.is-active .navbar-dropdown,
  .navbar-item.is-hoverable:focus .navbar-dropdown,
  .navbar-item.is-hoverable:focus-within .navbar-dropdown,
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }
  .navbar-item.is-active .navbar-dropdown.is-boxed,
  .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed,
  .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed,
  .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed,
  .navbar.is-spaced .navbar-item.is-active .navbar-dropdown,
  .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown,
  .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown,
  .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar-dropdown {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }
  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
    white-space: nowrap;
  }
  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }
  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    background-color: #f5f5f5;
    color: #0a0a0a;
  }
  .navbar-dropdown a.navbar-item.is-active {
    background-color: #f5f5f5;
    color: #7957d5;
  }
  .navbar-dropdown.is-boxed,
  .navbar.is-spaced .navbar-dropdown {
    border-radius: 6px;
    border-top: none;
    box-shadow:
      0 8px 8px rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + (-4px));
    transform: translateY(-5px);
    transition-duration: 86ms;
    transition-property: opacity, transform;
  }
  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }
  .navbar-divider {
    display: block;
  }
  .container > .navbar .navbar-brand,
  .navbar > .container .navbar-brand {
    margin-left: -0.75rem;
  }
  .container > .navbar .navbar-menu,
  .navbar > .container .navbar-menu {
    margin-right: -0.75rem;
  }
  .navbar.is-fixed-bottom-desktop,
  .navbar.is-fixed-top-desktop {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }
  .navbar.is-fixed-bottom-desktop {
    bottom: 0;
  }
  .navbar.is-fixed-bottom-desktop.has-shadow {
    box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
  }
  .navbar.is-fixed-top-desktop {
    top: 0;
  }
  body.has-navbar-fixed-top-desktop,
  html.has-navbar-fixed-top-desktop {
    padding-top: 3.25rem;
  }
  body.has-navbar-fixed-bottom-desktop,
  html.has-navbar-fixed-bottom-desktop {
    padding-bottom: 3.25rem;
  }
  body.has-spaced-navbar-fixed-top,
  html.has-spaced-navbar-fixed-top {
    padding-top: 5.25rem;
  }
  body.has-spaced-navbar-fixed-bottom,
  html.has-spaced-navbar-fixed-bottom {
    padding-bottom: 5.25rem;
  }
  .navbar-link.is-active,
  a.navbar-item.is-active {
    color: #0a0a0a;
  }
  .navbar-link.is-active:not(:focus):not(:hover),
  a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: transparent;
  }
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #fafafa;
  }
  .navbar-link::after,
  .dropdown .background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    background-color: rgba(10, 10, 10, 0.86);
    z-index: 40;
    cursor: pointer;
  }
  @media screen and (min-width: 1024px) {
    .dropdown .background {
      display: none;
    }
  }
  .dropdown.dropdown-menu-animation .dropdown-menu {
    display: block;
  }
  .dropdown .dropdown-menu .dropdown-item.is-disabled,
  .dropdown .dropdown-menu .has-link a.is-disabled {
    cursor: not-allowed;
  }
  .dropdown .dropdown-menu .dropdown-item.is-disabled:hover,
  .dropdown .dropdown-menu .has-link a.is-disabled:hover {
    background: inherit;
    color: inherit;
  }
  .dropdown .dropdown-menu .has-link a {
    padding-right: 3rem;
    white-space: nowrap;
  }
  .dropdown.is-hoverable:not(.is-active) .dropdown-menu {
    display: none;
  }
  .dropdown.is-hoverable:hover .dropdown-menu {
    display: inherit;
  }
  .dropdown.is-expanded {
    width: 100%;
  }
  .dropdown.is-expanded .dropdown-trigger {
    width: 100%;
  }
  .dropdown.is-expanded .dropdown-menu {
    width: 100%;
  }
  .dropdown.is-expanded.is-mobile-modal .dropdown-menu {
    max-width: 100%;
  }
  .dropdown:not(.is-disabled) .dropdown-menu .dropdown-item.is-disabled,
  .dropdown:not(.is-disabled) .dropdown-menu .has-link a.is-disabled {
    opacity: 0.5;
  }
  .dropdown .navbar-item {
    height: 100%;
  }
  .dropdown.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .dropdown.is-disabled .dropdown-trigger {
    pointer-events: none;
  }
  .dropdown.is-inline .dropdown-menu {
    position: static;
    display: inline-block;
    padding: 0;
  }
  .dropdown.is-top-right .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
  .dropdown.is-top-left .dropdown-menu {
    top: auto;
    bottom: 100%;
    right: 0;
    left: auto;
  }
  .dropdown.is-bottom-left .dropdown-menu {
    right: 0;
    left: auto;
  }
  @media screen and (max-width: 1023px) {
    .dropdown.is-mobile-modal > .dropdown-menu {
      position: fixed !important;
      width: calc(100vw - 40px);
      max-width: 460px;
      max-height: calc(100vh - 120px);
      top: 25% !important;
      left: 50% !important;
      bottom: auto !important;
      right: auto !important;
      transform: translate3d(-50%, -25%, 0);
      white-space: normal;
      overflow-y: auto;
      z-index: 50 !important;
    }
    .dropdown
      .dropdown-menu
      .has-link
      .dropdown.is-mobile-modal
      > .dropdown-menu
      > .dropdown-content
      > a,
    .dropdown.is-mobile-modal
      > .dropdown-menu
      > .dropdown-content
      > .dropdown-item,
    .dropdown.is-mobile-modal
      > .dropdown-menu
      > .dropdown-content
      > .has-link
      a {
      padding: 1rem 1.5rem;
    }
  }
  .navbar.has-navbar-centered .navbar-start {
    justify-content: center;
    margin-left: auto;
  }
  .navbar.has-navbar-centered .navbar-end {
    margin-left: 0;
  }
  .navbar .navbar-dropdown.is-boxed {
    visibility: hidden;
    transition-property: opacity, visibility, transform;
  }
  .navbar .navbar-item.has-dropdown.is-active .is-boxed,
  .navbar .navbar-item.has-dropdown.is-hoverable:hover .is-boxed {
    visibility: visible;
  }
}
