{{template "header.html" .}}
<script src="/static/js/activist_list.js"></script>

<div class="body-wrapper-wide activist-list-content">
  <div class="title">
    <h1>Activists</h1>
    <h3 style="color:red;">This page is under construction and may not behave as expected.</h2>
    <br />
  </div>
  <div class="main">
    <table id="activist-list" class="adb-table table table-hover table-striped tablesorter">
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>First Event</th>
          <th>Last Event</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="activist-list-body">
        <tr><td></td><td><i>Loading...</i></td><td></td><td></td><td></td><td></td></tr>
      </tbody>
    </table>
    <div id="modals"></div>
  </div>
</div>


<script>initializeApp();</script>
{{template "footer.html" .}}
