{{template "header.html" .}}

<style>
	td {
		padding: 3px;
	}
</style>

<div style="width: 1000px; height: 100%; background-color: white; margin-left: auto; margin-right: auto; padding: 10px;">

  <h1>Edit Chapter</h1>

	    <form method="POST" action="/chapter/update">
	      <label>ID</label><input readonly name="id" value="{{ .Data.Chapter.ID }}" /><br />
	      <label>Name</label><input type="text" name="name" value="{{ .Data.Chapter.Name }}" /><br />
	      <label>Flag</label><input type="text" name="flag" value="{{ .Data.Chapter.Flag }}" /><br />
	      <label>Facebook</label><input type="text" name="facebook" value="{{ .Data.Chapter.FbURL }}" /><br />
	      <label>Twitter</label><input type="text" name="twitter" value="{{ .Data.Chapter.TwitterURL }}" /><br />
	      <label>Instagram</label><input type="text" name="instagram" value="{{ .Data.Chapter.InstaURL }}" /><br />
	      <label>Email</label><input type="text" name="email" value="{{ .Data.Chapter.Email }}" /><br />
	      <label>Region (TODO: MAKE A SELECT)</label><input type="text" name="region" value="{{ .Data.Chapter.Region }}" /><br />
	      <label>Lat</label><input type="text" name="lat" value="{{ .Data.Chapter.Lat }}" /><br />
	      <label>Lng</label><input type="text" name="lng" value="{{ .Data.Chapter.Lng }}" /><br />
	      <label>Token</label><input type="text" name="token" value="{{ .Data.Chapter.Token }}" /><br />
	      <input type="hidden" name="gorilla.csrf.Token" value={{ .CsrfField }}>
	      <input type="submit" value="Save" />
	    </form>

	    <div><a href="/list_chapters"><- Back to all chapters</a></div>

</div>
<script src="/dist/adb.js?{{ .StaticResourcesHash }}"></script>

{{template "footer.html" .}}
