{{template "header.html" .}}

<style>
	td {
		padding: 3px;
	}
</style>

<div class="body-wrapper-extra-wide">

  	  <div class="title">
  		<h1>Chapters</h1>
  	  </div>

  	  <button class="btn btn-default" onclick="window.location.href='/chapter/new'">
      	<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Chapter
      </button>

	  <table class="adb-table table table-hover table-striped">
	      <thead>
	      <tr>
	      	<th></th>
	        <th>Name</th>
	        <th>Flag</th>
	        <th>FbURL</th>
	        <th>TwitterURL</th>
	        <th>InstaURL</th>
	        <th>Email</th>
	        <th>FB Data Last Received</th>
	      </tr>
	       </thead>
	       <tbody>
	    {{ range .Data.Chapters }}
	      <tr>
	      	<td nowrap>
	      		<button class="btn btn-default glyphicon glyphicon-pencil" onclick="window.location.href='/chapter/edit?id={{ .ChapterID }}'"></button>
	      		<button class="btn btn-danger glyphicon glyphicon-trash" onclick="window.location.href='/chapter/delete?id={{ .ChapterID }}'"></button>
	      	</td>
	        <td nowrap>{{ .Name }}</td>
	        <td>{{ .Flag }}</td>
	        <td>{{ .FbURL | abbrev }}</td>
	        <td>{{ .TwitterURL | abbrev }}</td>
	        <td>{{ .InstaURL | abbrev }}</td>
	        <td>{{ .Email | abbrev }}</td>
	        <td>{{ .LastUpdate }}</td>
	      </tr>
	    {{ end }}
	       </tbody>
	    </table>

</div>

<script src="/dist/adb.js?{{ .StaticResourcesHash }}"></script>

{{template "footer.html" .}}
