{{template "header.html" .}}
<script src="/static/js/event_list.js"></script>

<div class="body-wrapper-wide event-list-content">
  <div class="title">
    <h1>List events</h1>
    <br />
  </div>
  <div>Events from <input id="event-date-start" type="date"> to <input id="event-date-end" type="date"></div>
  <div class="main">
    <table id="event-list" class="adb-table table table-hover table-striped">
      <thead>
      	<tr>
          <th></th>
      	  <th>Date</th>
      	  <th>Name</th>
      	  <th>Type</th>
          <th># of Attendees</th>
      	  <th>Attendees</th>
      	</tr>
      </thead>
      <tbody id="event-list-body">
      </tbody>
    </table>
  </div>
</div>

<script>initializeApp();</script>
{{template "footer.html" .}}
