{{template "header.html" .}}
<div id="bodyWrapper">
  <div id="title">
    <h1>Create new event</h1>
  </div>
  <div id="main">
    <form action="" id="eventForm">
      <label for="eventName"><b>Event name:</b><br /></label>
      <input id="eventName"><br /><br />

      <label for="eventType"><b>Event type:</b><br /></label>
      <select id="eventType">
        <option value="Working Group">Working Group</option>
        <option value="Community">Community</option>
        <option value="Protest">Protest</option>
        <option value="Outreach">Outreach</option>
        <option value="Key Event">Key Event</option>
      </select>
      <br /><br />

      <label for="eventDate"><b>Event date:</b><br /></label>
      <input id="eventDate" type="date"><br /><br />

      <label for="attendee1"><b>Attendees:</b><br /></label>
      <div id="attendee-rows"></div>
    </form>

    <button class="button" id="add-rows" onclick="addRows(10)"><span>Add rows</span></button>
    <button class="button" id="submit-button" onclick="newEvent(event)"><span>Save event</span></button>
    <br /><br />
  </div>
</div>
<script>initializeApp()</script>
{{template "footer.html" .}}
