{{template "header.html" .}}
<script src="/static/js/event_list.js"></script>

<div class="body-wrapper-wide event-list-content">
  <div class="title">
    <h1>Events</h1>
    <br />
  </div>
  <div>
    <form class="form-inline" onsubmit="eventListRequest(); return false">
      <label for="event-date-start">From:</label>
      <input id="event-date-start" class="form-control filter-margin" type="date">
      <label for="event-date-end">To:</label>
      <input id="event-date-end" class="form-control filter-margin" type="date">
      <label for="event-type">Type:</label>
      <select id="event-type" class="form-control filter-margin">
        <option value="">All</option>
        <option value="Working Group">Working Group</option>
        <option value="Community">Community</option>
        <option value="Protest">Protest</option>
        <option value="Outreach">Outreach</option>
        <option value="Key Event">Key Event</option>
      </select>
      <button type="submit" id="event-date-filter" class="btn btn-primary filter-margin">Filter</button>
    </form>
    <br />
  </div>
  <div class="main">
    <table id="event-list" class="adb-table table table-hover table-striped">
      <thead>
      	<tr>
          <th></th>
      	  <th>Date</th>
      	  <th>Name</th>
      	  <th>Type</th>
          <th>Total Attendance</th>
      	  <th>Attendees</th>
      	</tr>
      </thead>
      <tbody id="event-list-body">
        <tr><td></td><td><i>Loading...</i></td><td></td><td></td><td></td><td></td></tr>
      </tbody>
    </table>
  </div>
</div>

<script>initializeApp();</script>
{{template "footer.html" .}}
