{{template "header.html" .}}

<!-- Load the CSS and JS that we need. -->
<link rel="stylesheet" href="/static/external/awesomplete/awesomplete.css" />
<script src="/static/external/awesomplete/awesomplete.js"></script>
<script src="/static/js/event_new.js"></script>

<div class="body-wrapper event-new-content">
  <div class="title">
    <h1>Event</h1>
  </div>
  <br />
  <div class="main">
    <form action="" id="eventForm">
      <input id="eventID" type="hidden" value="{{ .Data.Event.ID }}">

      <label for="eventName"><b>Event name</b><br /></label>
      <input id="eventName" class="form-control" value="{{ .Data.Event.EventName }}"><br />

      <label for="eventType"><b>Event type</b><br /></label>
      <select id="eventType" class="form-control">
        <option disabled selected value> -- select an option -- </option>
        <option value="Working Group" {{if (eq .Data.Event.EventType "Working Group")}}selected{{end}}>Working Group</option>
        <option value="Community" {{if (eq .Data.Event.EventType "Community")}}selected{{end}}>Community</option>
        <option value="Protest" {{if (eq .Data.Event.EventType "Protest")}}selected{{end}}>Protest</option>
        <option value="Outreach" {{if (eq .Data.Event.EventType "Outreach")}}selected{{end}}>Outreach</option>
        <option value="Key Event" {{if (eq .Data.Event.EventType "Key Event")}}selected{{end}}>Key Event</option>
      </select>
      <br />

      <label for="eventDate"><b>Event date</b><button class="btn btn-xs btn-secondary" style="margin: 0px 10px" onclick="setDateToToday(); return false;">today</button><br /></label>
      <input id="eventDate" class="form-control" type="date" value="{{if .Data.Event.EventDate | datenotzero }}{{.Data.Event.EventDate | formatdate}}{{end}}"><br />

      <label for="attendee1"><b>Attendees</b><br /></label>
      <div id="attendee-rows">
        {{range $a := .Data.Event.Attendees}}
            <input class="attendee-input form-control" value="{{$a.Name}}" />
        {{end}}
      </div>
    </form>
    <br /><br />
    <center>
      <button class="btn btn-primary btn-lg" id="add-rows" onclick="addRows(10)"><span>Add rows</span></button>
      <button class="btn btn-primary btn-lg" id="submit-button" onclick="newEvent(event)"><span>Save event</span></button>
    </center>
    <br />
  </div>
</div>
<script>initializeApp()</script>
{{template "footer.html" .}}
