<html>
  <head>
    <title>DxE Activist Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/external/jquery-3.2.1.js"></script>
  </head>
  <body>
    <div id="menu">
      <img src="/static/img/dxe-logo.svg" alt="DxE" width="100" height="100" style="padding-left: 18px;"><br /><br />
      <span class="menuText"><b>Events</b><br /></span>
      <span class="menuText"><a href="/">&nbsp;&nbsp;- Add new</a><br /></span>
      <span class="menuText"><a href="/list_events">&nbsp;&nbsp;- List events</a><br /></span>
      <span class="menuText"><a href="/transposed_events_data">&nbsp;&nbsp;- Transposed Events Data</a><br /></span>
      <br/>
      <span class="menuText"><b>Activists</b><br /></span>
      <span class="menuText">&nbsp;&nbsp;- Add new<br /></span>
      <span class="menuText">&nbsp;&nbsp;- Edit existing<br /></span>
      <span class="menuText">&nbsp;&nbsp;- View all<br /><br /></span>
    </div>

