<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Activist Database</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="/static/external/bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flash_message.css">
    <!---<link rel="stylesheet" type="text/css" href="/static/external/tablesorter/theme.default.css">-->
    <script src="/static/external/jquery-3.2.1.js"></script>
    <script src="/static/external/tablesorter/jquery.tablesorter.js"></script>
    <script src="/static/js/flash_message.js"></script>
    <script src="/static/external/bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="flash" role="alert"></div>
    <script>initializeFlashMessage();</script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#" style="color: white; font-weight: bold;">Activist Database</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{if (eq .PageName "NewEvent")}}active{{end}}"><a href="/">New Event</a></li>
            <li class="{{if (eq .PageName "EventList")}}active{{end}}"><a href="/list_events">Events</a></li>
            <li class="{{if (eq .PageName "ActivistList")}}active{{end}}"><a href="/list_activists">Activists</a></li>
            <li class="{{if (eq .PageName "Leaderboard")}}active{{end}}"><a href="/leaderboard">Leaderboard</a></li>
            <li class="{{if (eq .PageName "Power")}}active{{end}}"><a href="/power">Power</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
