<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="refresh" content="4320">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Activist Database</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="/static/external/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/flash_message.css">
    <script src="/static/external/jquery-3.2.1.js"></script>
    <!---<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/external/tablesorter/jquery.tablesorter.js"></script>---->
    <script src="/static/external/bootstrap/js/bootstrap.min.js"></script>

    <style>
      body {
          font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: medium;
          background-color: black;
          color: white;
      }
    </style>

    <script src="/dist/flash_message.js?{{ .StaticResourcesHash }}"></script>
  </head>
  <body>
    <div id="flash" role="alert"></div>
    <script>flash_message.initializeFlashMessage();</script>

<style>
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lower-text {
	position: absolute;
	bottom: 8px;
	right: 40px;
	text-align: right;
	text-shadow: 2px 2px 4px #000000;
  }
</style>


<div class="body-full" style="height:100%; width: 100%; cursor: none;">

<div id="powerCarousel" class="carousel" data-ride="carousel" data-pause="false" data-interval="7000" style="height:100%; width: 100%;">

	<div class="carousel-inner centered">

		<div class="item active"><img src="/static/img/1004092067.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1013400156.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/101370270.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/103420784.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1039006268.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1051555523.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1058717642.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1066117679.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1083542942.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1086069239.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1098419917.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1114535859.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1124964361.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1136563581.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1137243300.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/11693208.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1178417012.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1209715888.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1214768851.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/124534496.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1258021132.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1264249131.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1270199409.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1273904448.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1278565072.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1292202590.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1301923934.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1312117919.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1318073890.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/131841987.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1346456498.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1408410367.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1419308517.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1424246860.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1426334029.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1428111876.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1428976465.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1478414830.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1479619980.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1504911543.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1512401949.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1527621492.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1575784488.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1617730274.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1640124121.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1656521412.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1666241266.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1667667708.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1712517957.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1720611832.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1756764555.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/176639421.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/178256984.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1808651591.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/186219375.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1899153296.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/191782539.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1951693657.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1970753469.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1978323673.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/202185001.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2029043163.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2037415617.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/203777283.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2046279283.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2049208925.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2053174030.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2061132272.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2062095412.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2076866208.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2088102445.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2110463870.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2126573356.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/226204273.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/241760891.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/255674840.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/25610271.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/261850758.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/276384744.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/326742067.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/327026522.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/328510492.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/337419902.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/338750940.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/339064730.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/340963992.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/341887315.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/342972831.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/348815598.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/361528023.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/361976579.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/402068380.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/403001241.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/406592086.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/411553613.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/42791332.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/438549348.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/445753351.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/491108552.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/501867505.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/523602957.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/526220078.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/553743391.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/56245229.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/575171612.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/591235199.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/601673357.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/602701025.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/604628308.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/608363398.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/615724727.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/62334343.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/635036317.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/657763175.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/670553910.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/671136892.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/683464850.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/744893534.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/760941594.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/764403288.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/787287147.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/795816917.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/816011396.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/822176252.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/823488411.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/824244123.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/825469950.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/839511545.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/874532263.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/876686572.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/883514713.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/914951853.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/917474447.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/925249504.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/927689144.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/948906493.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/971354982.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/990379824.jpg" style="width:100%;"></div>

		<!--- need to run following command on server after uploading new images: chmod 644 /opt/adb/static/img/*
		-->

		<div class="lower-text">
			<span style="font-size: 100px;">
				<b>MPI: {{ .Data.Power }}</b>
			</span><br>
			<span style="font-size: 50px;">
				2018 Goal: 250<br>
			</span>
		</div>

    </div>

</div>


</div>

  </body>
</html>
