{{template "header.html" .}}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawCurveTypes);

	function drawCurveTypes() {
	      var data = new google.visualization.DataTable();
	      data.addColumn('string', 'Month');
	      data.addColumn('number', 'Power Index');

	      data.addRows([
	        {{range $a := .Data.PowerHist}}
				["{{$a.Month}}/{{$a.Year}}",
				{{$a.Power}}],
    		{{end}}
	      ]);

	      var options = {
	        hAxis: {
	          title: 'Month',
	          textPosition : 'in'
	        },
	        vAxis: {
	          title: 'Power Index'
	        },
	        series: {
	          1: {curveType: 'function'}
	        },
	        legend: {position: 'none'}
	      };

	      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	      chart.draw(data, options);
	    }
</script>


<div class="body-wrapper-wide">
  <div class="title">
    <h1>Power Index</h1>
  </div>
  <div class="main">
  	<i>The power index represents the number of activists who attended at least one protest and community event in the last 30 days.</i>
    <center><h2>Last 30 Days: <br /><span style="font-size: 200px;">{{ .Data.Power }}</span></h2></center>
    <h2 style="font-size:25px;"><center>Month to Date: {{ .Data.PowerMTD }}</center></h2>
    <div id="chart_div"></div>
  </div>
</div>

{{template "footer.html" .}}
