<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="refresh" content="4320">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Activist Database</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">
    <link href="/static/external/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/flash_message.css">
    <script src="/static/external/jquery-3.2.1.js"></script>
    <!---<link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/external/tablesorter/jquery.tablesorter.js"></script>---->
    <script src="/static/external/bootstrap/js/bootstrap.min.js"></script>

    <style>
      body {
          font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: medium;
          background-color: black;
          color: white;
      }
    </style>

    <script src="/dist/flash_message.js?{{ .StaticResourcesHash }}"></script>
  </head>
  <body>
    <div id="flash" role="alert"></div>
    <script>flash_message.initializeFlashMessage();</script>

<style>
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lower-text {
	position: absolute;
	bottom: 8px;
	right: 40px;
	text-align: right;
	text-shadow: 2px 2px 4px #000000;
  }
</style>


<div class="body-full" style="height:100%; width: 100%; cursor: none;">

<div id="powerCarousel" class="carousel" data-ride="carousel" data-pause="false" data-interval="7000" style="height:100%; width: 100%;">

	<div class="carousel-inner centered">

		<div class="item active"><img src="/static/img/1011538020.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1051434110.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1058400226.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1064833915.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1096508692.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1114901125.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1122134889.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1148670463.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1184088715.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1193808657.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1213215575.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1238147620.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/125666184.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1279891103.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1298362134.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1300398536.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1309674203.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1337265953.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1347058037.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1350350600.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/13534219.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1361155432.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/140683326.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1410739156.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1412999097.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1437856164.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/145890960.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1496398009.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1505434705.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1512534923.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/153031774.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1540971490.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1545130162.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1549623863.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1632850175.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/163429321.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1639807442.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1644176279.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/164997401.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1654445117.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1665232350.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1683341712.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1692678374.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1715932863.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1717296023.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1729857762.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/173141619.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1744897933.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1750262500.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1769935440.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1777245420.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1782141909.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1792611217.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1793607882.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1824037081.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1825692357.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1852688529.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1875098401.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1896601005.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/191354408.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1931677862.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1941485513.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1963495900.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/1982063635.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2015781423.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2024896065.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2034797813.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2037000937.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2055036422.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2056447549.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2058132409.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2080165222.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/2120943215.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/224745199.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/27248302.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/286972215.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/302450739.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/308633454.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/314295958.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/34113917.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/348604953.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/392337050.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/39809895.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/40831713.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/416747940.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/451372654.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/488551877.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/49850195.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/498872269.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/545321010.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/568046279.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/579267636.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/587183228.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/597981081.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/62164208.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/632850376.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/65811722.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/670377964.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/682058173.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/703254236.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/703752358.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/707645458.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/711955262.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/714376252.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/714448156.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/724002398.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/727906525.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/733354719.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/73360928.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/741758153.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/7696518.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/828002900.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/894990714.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/923312042.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/933455113.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/943290792.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/962396046.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/989901635.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/993334649.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/994032329.jpg" style="width:100%;"></div>
		<div class="item"><img src="/static/img/998401177.jpg" style="width:100%;"></div>

		<!--- need to run following command on server after uploading new images: chmod 644 /opt/adb/static/img/*
		-->

		<div class="lower-text">
			<span style="font-size: 100px;">
				<b>MPI: {{ .Data.Power }}</b>
			</span><br>
			<span style="font-size: 50px;">
				2018 Goal: 250<br>
			</span>
		</div>

    </div>

</div>


</div>

  </body>
</html>
