{{template "header.html" .}}
<div id="bodyWrapperWide">
  <div id="title">
    <h1>Transposed events data</h1>
    <br />
  </div>
  <div id="main">
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Event Title</th>
        <th>Type</th>
      </tr>
      {{ range $e := .Events }}
      {{ range $a := $e.Attendees}}
      <tr>
        <td>{{$a.Name}}</td>
        <td>{{$e.EventDate | formatdate}}</td>
        <td>{{$e.EventName}}</td>
        <td>{{$e.EventType}}</td>
      </tr>
      {{ end}}
      {{ end }}
    </table>
  </div>
</div>

{{template "footer.html" .}}
