{{template "header.html" .}}
<div class="body-wrapper-wide transposed-events-data-content">
  <div class="title">
    <h1>Transposed Event Data</h1>
    <br />
  </div>
  <div class="main">
    <table class="adb-table table">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Event Title</th>
        <th>Type</th>
      </tr>
      {{ range $e := .Events }}
      {{ range $a := $e.Attendees}}
      <tr>
        <td>{{$a.Name}}</td>
        <td>{{$e.EventDate | formatdate}}</td>
        <td>{{$e.EventName}}</td>
        <td>{{$e.EventType}}</td>
      </tr>
      {{ end}}
      {{ end }}
    </table>
  </div>
</div>

{{template "footer.html" .}}
