name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/setup-go@v3
        with:
          go-version: ^1.15.0
      - name: Version check
        run: |
          node --version
          npm --version
          go version
      - name: Install deps
        run: |
          cd ./frontend
          npm ci --legacy-peer-deps
          cd ../server/src
          go mod download
      - name: Start database
        run: |
          sudo /etc/init.d/mysql start
          mysql -h127.0.0.1 -P3306 -uroot -proot -e "CREATE USER adb_user@localhost IDENTIFIED BY 'adbpassword';"
          mysql -h127.0.0.1 -P3306 -uroot -proot -e "GRANT ALL PRIVILEGES ON *.* to adb_user@localhost;"
          mysql -h127.0.0.1 -P3306 -uroot -proot -e "CREATE DATABASE adb_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
          mysql -h127.0.0.1 -P3306 -uroot -proot -e "CREATE DATABASE adb_test_db CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
      - name: Set environment variables for tests
        run: echo "DB_PROTOCOL=tcp(127.0.0.1:3306)" >> $GITHUB_ENV
      - name: Run tests
        run: |
          ./hooks/pre-commit
          cd ./server/src
          go test github.com/dxe/adb/...
      - name: Configure AWS credentials
        if: ${{ github.event_name == 'push' }} # don't deploy branches
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        if: ${{ github.event_name == 'push' }}
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and push image to ECR (main)
        if: ${{ github.event_name == 'push' && steps.login-ecr.outcome == 'success' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/dxe/adb:latest
            ${{ steps.login-ecr.outputs.registry }}/dxe/adb:${{ github.sha }}
      - name: Build and push image to ECR (next.js)
        if: ${{ github.event_name == 'push' && steps.login-ecr.outcome == 'success' }}
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.frontend-v2
          push: true
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/dxe/adb-next:latest
            ${{ steps.login-ecr.outputs.registry }}/dxe/adb-next:${{ github.sha }}
